@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Supplier

<form method="post">

    <h2>Create new supplier</h2>
    <br />

    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <div class="mb-3">
            <label asp-for="Name">Supplier Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ContactNo">Contact No.</label>
            <input asp-for="ContactNo" class="form-control" placeholder="087 031 6373"/>
            <span asp-validation-for="ContactNo" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" style="width:150px"> Create</button>

    <a asp-controller="Supplier" asp-action="Index" class="btn btn-secondary" style="width:150px"> Back to List</a>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
