@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}
<h1>Index Product</h1>

<div class="mb-3">
    <a asp-controller="Product" asp-action="Create" class="btn btn-primary">
        Create new product
    </a>
</div>

<br />
<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.Name
                </td>

                <td width="30%">
                    @obj.Quantity
                </td>

                <td width="30%">
                    €@obj.Price
                </td>

                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Product" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2"> Edit</a>

                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-primary mx-2"> Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

